<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
    <mat-step>
        <mat-card style="margin-top:5px; margin-bottom: 10px">
            <mat-card-content>
                <ng-template matStepLabel>Fill out info</ng-template>

                <app-step-one></app-step-one>

                <div align="center">
                    <button mat-raised-button color="accent" matStepperNext>Next</button>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Roles selection</ng-template>

        <app-step-two></app-step-two>

        <div align="center">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" matStepperNext (click)="setPreview()">Next</button>
        </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Preview Info</ng-template>
        
        <app-step-three></app-step-three>
    
        <div align="center">
                <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" (click)="submitUser(); stepper.reset()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>